.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-link.active {
    font-weight: bold; 
}

.nav-link:hover,
.nav-link:focus {
    color: black; 
    text-decoration: none; 
}

/* Base styles */
.container-fluid {
    padding: 10px;
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.bg-primary {
    background-color: #007bff;
    
}

.text-white {
    color: white;
}

h1 {
    font-size: 1.2em;
}

#date {
    font-size: 0.9em;
}
